@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


 @* Setting the title of a page dynamically *@

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-secondary">This is the Index page 🥳</h1>
